DOMAIN=
OPENCLAW_GATEWAY_TOKEN=<some-pass-phrase>
CLIPROXY_BASE_URL=http://cliproxy:8317/v1
CLIPROXY_API_KEY=<generate in http://cliproxy:8317/management.html>
CLIPROXY_PASSWORD=<some-pass-phrase>
VNC_PASSWORD=<some-pass-phrase>
HEADLESS_CDP_URL=http://headless-browser:9222
HEADFULL_CDP_URL=http://browser:9222
FIRECRAWL_BASE_URL=http://crawl4ai:11235
FIRECRAWL_API_KEY=crawl4ai